
<h2>{{ title }}</h2>
<div id="sky_tb">
  <object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" title="money_sky" width="80%" height="100%" class="embed-responsive-item"></object>
  <param name="movie" value="resources/pub/swf/money_in_the_sky_game/money_in_the_sky_working_cs4.swf"></param>
  <param name="quality" value="medium"></param>
  <param name="wmode" value="opaque"></param>
  <param name="swfversion" value="6.0.65.0"></param>
  <!--if !IE-->
  <object type="application/x-shockwave-flash" data="resources/pub/swf/money_in_the_sky_game/money_in_the_sky_working_cs4.swf" width="80%" height="90%" class="embed-responsive-item flash_game"></object>
  <!-- <![endif]-->
  <param name="quality" value="medium"></param>
  <param name="wmode" value="opaque"></param>
  <param name="swfversion" value="6.0.65.0"></param>
  <param name="expressinstall" value="Scripts/expressInstall.swf">		</param>
  <!--if !IE-->
  <!-- <![endif]-->
</div>
<div id="slay_tb">
  <object id="FlashID3" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" title="dragon_slay" width="80%" height="100%" class="embed-responsive-item"></object>
  <param name="movie" value="resources/pub/swf/dragon_slay/dragon_slay.swf"></param>
  <param name="quality" value="medium"></param>
  <param name="wmode" value="opaque"></param>
  <param name="swfversion" value="9.0.45.0"></param>
  <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don't want users to see the prompt.-->
  <param name="expressinstall" value="Scripts/expressInstall.swf"></param>
  <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC.-->
  <!--if !IE-->
  <object type="application/x-shockwave-flash" data="resources/pub/swf/dragon_slay/dragon_slay.swf" width="80%" height="100%" class="embed-responsive-item flash_game">
    <!-- <![endif]-->
    <param name="quality" value="medium"></param>
    <param name="wmode" value="opaque"></param>
    <param name="swfversion" value="9.0.45.0"></param>
    <param name="expressinstall" value="Scripts/expressInstall.swf"></param>
    <div>Content on this page requires a newer version of Adobe Flash Player. </div>
    <p><a href="http://www.adobe.com/go/getflashplayer"></a><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33"/></p>
    <!--if !IE-->
  </object>
  <!-- <![endif]-->
</div>
<div id="sdlc_tb">
  <object id="FlashID4" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" title="System Development Lifecycle" class="embed-responsive-item">
    <param name="movie" value="resources/pub/swf/sdlc/sdlc_tutorial.swf"></param>
    <param name="quality" value="medium"></param>
    <param name="wmode" value="opaque"></param>
    <param name="swfversion" value="6.0.65.0"></param>
    <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt.-->
    <param name="expressinstall" value="Scripts/expressInstall.swf"></param>
    <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC.-->
    <!--if !IE-->
  </object>
  <object type="application/x-shockwave-flash" data="resources/pub/swf/sdlc/sdlc_tutorial.swf" width="80%" height="100%" class="embed-responsive-item flash_game"></object>
  <!-- <![endif]-->
  <param name="quality" value="medium"></param>
  <param name="wmode" value="opaque"></param>
  <param name="swfversion" value="6.0.65.0"></param>
  <param name="expressinstall" value="Scripts/expressInstall.swf"></param>
</div>
<!--if !IE-->
<!-- <![endif]-->
<script type="text/javascript">
  swfobject.embedSWF("FlashID");
  swfobject.embedSWF("FlashID2");
  swfobject.embedSWF("FlashID3");
  swfobject.embedSWF("FlashID4");
</script>