
<h2>{{ title }}</h2>
<div id="img-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Thumbnail Viewer</h4>
      </div>
    </div>
    <div class="modal-body"><img id="img-preview" src="" style="width: 400px; height: 264px;"/></div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
    </div>
  </div>
</div>
<div class="row"><a href="javascript:void(0);" alt="Click to Enlarge" class="thumb col-md-4 col-lg-4"><img src="resources/pub/images/html_themes/teal_theme.jpg" width="900px" height="436px" alt="teal_theme" class="img-thumbnail"/></a><a href="javascript:void(0);" alt="Click to Enlarge" class="thumb col-md-4 col-lg-4"><img src="resources/pub/images/html_themes/rust_theme.jpg" width="900px" height="437px" alt="rust_theme" class="img-thumbnail"/></a><a href="javascript:void(0);" alt="Click to Enlarge" class="thumb col-md-4 col-lg-4"><img src="resources/pub/images/html_themes/red_theme.jpg" width="900px" height="444px" alt="red_theme" class="img-thumbnail"/></a></div>