//- block scripts
//- 	script(src='resources/pub/js/app/web/themes.js')
h2 {{ title }}
#img-modal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label="Close")
					span(aria-hidden='true') &times;
					span.sr-only Close
				h4.modal-title Thumbnail Viewer
		.modal-body
			img#img-preview(src='', style='width: 400px; height: 264px;')
		.modal-footer
			button.btn.btn-default(type='button', data-dismiss='modal') Close
.row
	a.thumb.col-md-4.col-lg-4(href="javascript:void(0);",alt="Click to Enlarge")
		img.img-thumbnail(src='resources/pub/images/html_themes/teal_theme.jpg', width='900px', height='436px', alt='teal_theme')

	a.thumb.col-md-4.col-lg-4(href="javascript:void(0);",alt="Click to Enlarge")
		img.img-thumbnail(src='resources/pub/images/html_themes/rust_theme.jpg', width='900px', height='437px', alt='rust_theme')

	a.thumb.col-md-4.col-lg-4(href="javascript:void(0);",alt="Click to Enlarge")
		img.img-thumbnail(src='resources/pub/images/html_themes/red_theme.jpg', width='900px', height='444px', alt='red_theme')