table#data-table.table.table-responsive.col-md-11.col-lg-11
  thead
    tr
      th#col1 col1
      th#col1 col2
      th#col1 col3
      th#col1 col4
      th#col1 col5
      th#col1 col6
      th#col1 col7
      th#col1 col8
      th#col1 col9
      th#col1 col10
  tbody
  tfoot