section.fade#gulp(role="tabpanel")
	h3 Gulp.js
	| View Gulp.js
	a(href="#", target="_blank")  code sample
	|  on my GitHub
	h4 What is Gulp and why use it?
		p Gulp is a javascript task runner that uses streams to complete various tasks
			| based on almost anything you want the task to do.
			| Tasks can be set up to conduct automated testing, minifying files, structuring projects,
			| compiling those Jade files above and much, much more.
		p Gulp and other task runners (Grunt being another one) allows developers to:
		ul
			li Automate redundant development tasks and decrease setup times for new projects
			li Utilize various node packages on the files run through the tasks
			li Keeps the file structure organized so that the developer doesn't even have to think about it
			li Add a very powerful utility to the developers tool belt
