.container
		#content.container-fluid
			.col-md-7.col-sm-8.row.pull-right
				button#version-select.btn.btn-default.form-control.dropdown-toggle(type="button",data-toggle="dropdown") {{title}} - Chart History 
					span.caret
				ul.dropdown-menu(role="menu")
			#graph.chart.col-md-11.col-sm-11.pull-left.row