<a href="#/" class="col-md-offset-1 col-lg-offset-1 navbar-brand"><img src="resources/pub/images/brand-logo.png" class="img-thumbnail off-white"/></a>
<h2 id="site-title" class="text-center">Tony Hall E-Porfolio</h2>
<div class="row navbar-header off-white col-md-offset-5 col-lg-offset-5">
  <div class="col-md-12 col-lg-12">
    <ul role="navigation" class="nav navbar-nav">
      <li><a href="#/" class="small"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="#/resume" class="small">Resume</a></li>
      <li><a href="#/video-edit" class="small">Video Editing</a></li>
      <li role="presentation" class="dropdown"><a data-toggle="dropdown" role="button" href="#" aria-expanded="false" class="small dropdown-toggle">Web</a>
        <ul role="menu" class="dropdown-menu">
          <li> <a href="#/web/themes" class="small">Themes</a></li>
          <li> <a href="#/web/updated-sp" class="small">Updated Capstone</a></li>
          <li> <a href="#/web/original-sp" class="small">Original Capstone</a></li>
        </ul>
      </li>
      <li role="presentation" class="dropdown"><a data-toggle="dropdown" role="button" href="#" aria-expanded="false" class="small dropdown-toggle">Work Samples</a>
        <ul role="menu" class="dropdown-menu">
          <li> <a href="/app/home" target="_blank" class="small">PHP Application</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>