
<div class="col-md-offset-1 col-lg-offset-1 navbar-brand"><img src="resources/pub/images/brand-logo.png" class="col-lg-8 col-md-8 img-thumbnail off-white"/></div>
<h1 id="site-title" class="col-md-offset-5 col-lg-offset-5">Tony Hall E-Porfolio</h1>
<div class="navbar-header secondary row off-white">
  <div class="container col-md-offset-4 col-lg-offset-4">
    <ul role="navigation" class="nav navbar-nav">
      <li><a href="#/resume">Resume             </a></li>
      <li><a href="#/video-edit">Video Editing</a></li>
      <li role="presentation" class="dropdown"><a data-toggle="dropdown" role="button" href="#" aria-expanded="false" class="dropdown-toggle">Work Samples</a>
        <ul role="menu" class="dropdown-menu">
          <li> <a href="#/work-samples/high-charts">Highcharts and JSON</a></li>
          <li> <a href="#/work-samples/datatable-services">DataTables</a></li>
          <li> <a href="#/php">PHP</a></li>
        </ul>
      </li>
      <li role="presentation" class="dropdown"><a data-toggle="dropdown" role="button" href="#" aria-expanded="false" class="dropdown-toggle">Web</a>
        <ul role="menu" class="dropdown-menu">
          <li> <a href="#/web/themes">Themes</a></li>
          <li> <a href="#/web/as-flash">Adobe Flash</a></li>
        </ul>
      </li>
      <li role="presentation" class="dropdown"><a data-toggle="dropdown" role="button" href="#" aria-expanded="false" class="dropdown-toggle">Key Projects</a>
        <ul role="menu" class="dropdown-menu">
          <li> <a href="#/professional-samples">Professional Code Samples</a></li>
          <li> <a href="#/djbww">DJBlazeWorldwide.com</a></li>
          <li> <a href="#/ngal">NorthgateAssistedLiving.com</a></li>
        </ul>
      </li>
      <li><a href="#/contact">Contact</a></li>
    </ul>
  </div>
</div>