.container.text-center
    .navbar-text.small.col-md-12.col-lg-12.col-sm-12.col-xs-12.text-center
        ul.row.list-inline.navbar-text.col-md-12.col-sm-12
          li 
            a(href="http://www.linkedin.com/pub/tony-hall/37/754/359", target="_blank")
                img(src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png",width="140", height="25", border="0",alt="View Tony Hall's profile on LinkedIn")
          li
            a(href="mailto:hall.tony@tonyhallportfolio.com",alt="Send me an e-mail")
                span.glyphicon.glyphicon-envelope