.col-md-offset-1.col-lg-offset-1.navbar-brand
  img.col-lg-8.col-md-8.img-thumbnail.off-white(src='resources/pub/images/brand-logo.png')
    a(href="#/")
h1.col-md-offset-5.col-lg-offset-5#site-title Tony Hall E-Porfolio
.navbar-header.secondary.row.off-white
  .container.col-md-offset-4.col-lg-offset-4
    ul(role="navigation").nav.navbar-nav
      li
        a(href='#/resume') Resume             
      li
        a(href='#/video-edit') Video Editing
      li.dropdown(role="presentation")
        a.dropdown-toggle(data-toggle="dropdown", role="button", href='#', aria-expanded="false") Work Samples
        ul.dropdown-menu(role="menu")
          li 
            a(href='#/work-samples/high-charts') Highcharts and JSON
          li 
            a(href='#/work-samples/datatable-services') DataTables
          li 
            a(href='#/php') PHP
      li.dropdown(role="presentation")
        a.dropdown-toggle(data-toggle="dropdown", role="button", href='#', aria-expanded="false") Web
        ul.dropdown-menu(role="menu")
          li 
            a(href='#/web/themes') Themes
          li 
            a(href='#/web/as-flash') Adobe Flash
      li.dropdown(role="presentation")
        a.dropdown-toggle(data-toggle="dropdown", role="button", href='#', aria-expanded="false") Key Projects
        ul.dropdown-menu(role="menu")
          li 
            a(href='#/professional-samples') Professional Code Samples
          li 
            a(href='#/djbww') DJBlazeWorldwide.com
          li 
            a(href='#/ngal') NorthgateAssistedLiving.com
      li
        a(href='#/contact') Contact
//- .container.row.col-md-offset-1.col-lg-offset-1
//-   ol.breadcrumb
//-     li
//-       a(href="#/") Home
//-     li.active {{ title }}