nav.navbar.navbar-default.navbar-fixed-top
	.navbar-brand
		img.img-thumbnail(src='images/brand-logo.png')
	.row
		.col-xs-12.col-sm-10
			h2#site-title Tony Hall E-Porfolio
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-nav', aria-controls='main-nav', aria-expanded='false')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			header
				ul#main-nav.nav.navbar-right.nav-justified.navbar-collapse(role="tablist")
					li.active(role="presentation")
						a(href="#home", aria-controls="home", role="tab", data-toggle="tab", title="Home") Home
					li(role="presentation")
						a(href="#skills", aria-controls="skills", role="tab", data-toggle="tab", title="Skills") Skills
					li.dropdown
						a.dropdown-toggle(href="#",data-toggle="dropdown" role="button", aria-haspopup="true", aria-expanded="false")
							| Code Samples
							span.caret
						ul.dropdown-menu
							li
								a(aria-controls="jade", role="tab", data-toggle="tab", href='#jade', title="Code Samples - Jade Templating")
									| Jade

							li
								a(aria-controls="gulp", role="tab", data-toggle="tab", href='#gulp',title="Code Samples - Gulp")
									| Gulp
							li
								a(aria-controls="highcharts", role="tab", data-toggle="tab", href='#highcharts',
								title="Code Samples - Highcharts")
									| Highcharts
							li
								a(aria-controls="backbone", role="tab", data-toggle="tab", href='#backbone', title="Code Samples - Backbone")
									| Backbone and Datatables
//- li
//-a(href='#/contact') Contact
