a.col-md-offset-1.col-lg-offset-1.navbar-brand(href="#/")
  img.img-thumbnail.off-white(src='/web/images/brand-logo.png')
h2.text-center#site-title Tony Hall E-Porfolio
.row.navbar-header.off-white.col-md-offset-5.col-lg-offset-5
  .col-md-12.col-lg-12
    ul(role="navigation").nav.navbar-nav
      li
        a.small(href='#/')
          span.glyphicon.glyphicon-home
      li
        a.small(href='#/resume') Resume
      li
        a.small(href='#/video-edit') Video Editing
      li.dropdown(role="presentation")
        a.small.dropdown-toggle(data-toggle="dropdown", role="button", href='#', aria-expanded="false") Web
        ul.dropdown-menu(role="menu")
          li
            a.small(href='#/web/themes') Themes
          //- li
          //-   a.small(href='#/web/as-flash') Adobe Flash
          li
            a.small(href='#/web/updated-sp') Updated Capstone
          li
            a.small(href='#/web/original-sp') Original Capstone
      li.dropdown(role="presentation")
        a.small.dropdown-toggle(data-toggle="dropdown", role="button", href='#', aria-expanded="false") Work Samples
        ul.dropdown-menu(role="menu")
          li
            a.small(href='/app/home', target='_blank') PHP Application
      //- li
      //-   a(href='#/contact') Contact
//- .container.row.col-md-offset-1.col-lg-offset-1
//-   ol.breadcrumb
//-     li
//-       a(href="#/") Home
//-     li.active {{ title }}
