@import 'nib'
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300")

// prim-blue = #08152A
off-white = #F7F6F2
// sec-tan = #9C6D37
prim-blue = #003333
// sec-teal = #CCCC99
light-purple =#666699
light-blue = #003366
pine-green = #040F01

body
	font-family "Open Sans Condensed", "Trebuchet MS", Helvetica, sans-serif
	font-size 14pt
	line-height 1.5

#connect-links img
	max-width 50px
	max-height 50px

.navbar-brand img
	width 80px
	height 80px

#site-title
	text-align center
	font-family "Calibri"

nav
	font-size 0.9em
	font-weight bold

	ul.nav li a:hover
		text-decoration underline

	ul.nav li:not(.active) a,
	ul.nav li:not(.active) a:hover
		color black
		background transparent
	ul.nav li.active a,
	ul.nav li.active:hover a
		background black
		color white

	ul.nav li.dropdown
		&.active a
			color black
			background transparent
		&:hover
			text-decoration underline
#wrapper
	margin-top 150px

section:not(.active)
	display none

.caption
	text-align center
	margin 0 auto
	img
		max-width 31px
		max-height 50px

img#self
	max-width 225px
	max-height 300px

table#inventoryTable
	min-width 100%
	tbody tr
		&.selected
			background-color rgba(236, 255, 0, 0.44)
#signature
	max-width 250px
	max-height 100px

//@media screen and (max-width 1300px)
//    .navbar-brand img
//        width 100px
//        height 100px
//
//@media (max-width 990px)
//	#site-title
//		font-size 0.9em
//    .navbar-brand img
//        width 75px
//        height 75px
//    header
//        position relative
//        #toolTitle
//            text-align center
//            padding 5px
//    section
//        margin 0 25px

//@media (max-width 768px)
//    #menu-button
//        display block
//        float right
//        height 52px
//        padding 5px
//        position relative
//        width 60px
//    ul.nav
//        background transparent
//        padding 0
//        text-align center
//        &:not(.show)
//            display none
//        > li
//            display block
//            padding 8px
//            a
//                color inherit
//            &:not(:hover) > ul
//                display block
//            > ul
//                background transparent
//                margin 10px 0 -5px
//                position static
//                &:not(.show)
//                    display none

//@media screen and (max-width 768px)
//@media screen and (max-width 480px)
