
<div class="col-md-12 col-lg-12">
  <p>Do you have inquiries, website feedback, comments or suggestions? Contact Me</p>
  <p>For inquiries about building a web site for yourself or a small business local business. Also, for comments or any other feedback about the site.</p><b>important: For inquiries you must provide 4 pieces of information in your message</b>
  <ul>
    <li>The purpose/reason for the site</li>
    <li>Timeline for when you need the website built</li>
    <li>Your budget for the site</li>
    <li>all other relevant and important information needed to understand your vision for the website</li>
  </ul>
  <p>When all this information is submitted I can respond promptly to your inquiry, without this information you may not recieve a response.</p>
  <p><b class="small">*Note: I do not currently take on any projects involving E-Commerce(Web Stores) websites.</b></p>
  <p>I am always looking to improve my site and my web development skill set. If you have any suggestions, </p>comments, issues or concerns with this website feel free to leave a message. Your messages will be greatly appreciated.
  <form id="contactForm" enctype="multipart/form-data" method="post" class="col-md-5 col-lg-5 col-md-offset-2 col-lg-offset-2">
    <fieldset>
      <div id="error-div"></div>
      <div class="form-group">
        <input id="name" placeholder="Name:" type="text" name="name" minlength="2" maxlength="50" size="60" required="required" class="input-sm form-control"/>
        <input id="email" placeholder="Email:" type="text" name="email" size="60" required="required" class="input-sm form-control"/>
      </div>
      <div class="form-group">
        <label for="message_type" class="required">Message Type:</label>
        <select id="message_type" name="message_type" class="form-control">
          <option value=""></option>
          <option value="Website Inquiry">Website Inquiry</option>
          <option value="Message, Comment, Suggestion">Message, Comment and/or Suggestion</option>
        </select>
      </div>
      <div class="form-group">
        <textarea id="message" name="message" rows="10" cols="60" placeholder="Type your message here" required="required" class="form-control"></textarea>
      </div>
      <div class="btn-group">
        <input id="reset" type="reset" value="Clear Form" class="input-sm btn btn-default"/>
        <input id="submit" type="submit" value="Submit Inquiry/Message" class="input-sm btn btn-primary"/>
      </div>
      <input id="honeypot" type="hidden" name="honeypot" value="http://"/>
      <input id="humancheck" type="hidden" name="humancheck" value="" class="clear"/>
    </fieldset>
  </form>
</div>