
<div id="resume" class="col-md-12 col-lg-12 row">
  <table class="table-responsive">
    <tbody></tbody>
    <tr>
      <td width="673" colspan="2" valign="top"></td>
      <p><strong>EDUCATION</strong></p>
    </tr>
    <tr>
      <td width="402" valign="top"></td>
      <p>Degree: Bachelor of Science</p>
      <p>Pennsylvania College of Technology, Williamsport, Pennsylvania</p>
      <td width="271" valign="top"></td>
      <p align="right">Graduated December 2011</p>
    </tr>
    <tr>
      <td width="673" colspan="2" valign="top"></td>
      <ul>
        <li>Major: Web &amp; Applications Development</li>
        <li>Minors: Sociology, Business Administration</li>
      </ul>
    </tr>
    <tr>
      <td width="673" colspan="2" valign="top"></td>
      <p><strong>SKILLS</strong></p>
    </tr>
    <tr>
      <td width="402" valign="top"></td>
      <p>[Technical]</p>
      <td width="271" valign="top"></td>
    </tr>
    <tr>
      <td width="402" valign="top"></td>
      <ul>
        <li>HTML/5, CSS/3 and Bootstrap</li>
        <li>Microsoft SQL and MySQL</li>
        <li>JavaScript, JQuery and JSON</li>
        <li>PHP and AJAX</li>
        <li>JavaScript Libraries: Highcharts and DataTables, Require JS, Grunt JS, LiveScript, Stylus and Node JS</li>
      </ul>
      <ul>
        <li>Page Templating with Twig and Jade</li>
        <li>Microsoft Team Foundation Server (TFS)</li>
        <li>C# and ASP .NET</li>
        <li>Drupal and Joomla CMS</li>
      </ul>
      <td width="271" valign="top"></td>
      <p>Software: Adobe Creative Suite, Microsoft Office, Visual Studio, Microsoft SQL Management Studio</p>
      <p>Experience with information systems analysis and project development processes</p>
      <p>CMMI Level 2 trained in Configuration and Requirements management</p>
    </tr>
    <tr>
      <td width="402" valign="top"></td>
      <p>[Professional]</p>
      <td width="271" valign="top"></td>
    </tr>
    <tr>
      <td width="673" colspan="2" valign="top"></td>
      <p>Communicated with both technical and non-technical team members to gather requirements for application development</p>
      <ul>
        <li>Managed time effectively while working across multiple projects.</li>
      </ul>
      <p>Successfully worked as a part of a team of developers and a single developer on projects.</p>
      <p>Worked together with members of another organization to complete an application prototype.</p>
    </tr>
    <tr>
      <td width="673" colspan="2" valign="top"></td>
      <p><strong>EXPERIENCE</strong></p>
    </tr>
    <tr>
      <td width="402" valign="top"></td>
      <p>[Programmer I]</p>
      <p>[Social & Scientific Systems]</p>
      <ul>
        <li>Currently serve as Lead Developer on a web application project.</li>
        <li>Aid in the automation of internal and external business processes.</li>
        <li>Creating databases, generating stored procedures and insert/update queries.</li>
        <li>Responsible for deploying application to development, testing and production environments.</li>
        <li>Tracking requirements, source code and application bugs through the development process using TFS.</li>
        <li>Working across project tasks to convert raw data into automatically generated graphical visualizations.</li>
        <li>Implementing the use of web analytic software to gather and report statistics on application use.</li>
        <li>Producing application design diagrams used for planning application features and requirements.</li>
        <li>Testing, debugging and fixing application source code defects.</li>
      </ul>
      <td width="271" valign="top"></td>
      <p align="right">December 2012-Present</p>
    </tr>
    <tr>
      <td width="402" valign="top"></td>
      <p>[Computer Clerk, Intern]</p>
      <p>[US Department of Labor, Bureau of Labor Statistics]</p>
      <ul>
        <li>Independently redesigned data dictionary web pages.</li>
        <li>Studied and developed SharePoint content pages.</li>
        <li>Contributed in a team during the planning stages of a web application.</li>
      </ul>
      <td width="271" valign="top"></td>
      <p align="right">May 2010 - August 2010</p>
    </tr>
    <tr>
      <td width="402" valign="top"></td>
      <p>[Web Site Developer]</p>
      <p>[Freelance]</p>
      <ul>
        <li>Independently created a web site for a local nursing facility.</li>
        <li>Communicated with client to ensure satisfaction with end product.</li>
        <li>Monitored web site functionality and troubleshooting issues.</li>
        <li>Researched, learned and implemented new web technologies within projects.</li>
      </ul>
      <td width="271" valign="top"></td>
      <p align="right">June 2009 - May 2011</p>
    </tr>
  </table>
</div>