
<h2>{{ title }}</h2>
<div class="row">
  <div class="col-md-4 col-lg-4"><img src="resources/pub/images/html_themes/teal_theme.jpg" width="900px" height="436px" alt="teal_theme" class="img-thumbnail"/></div>
  <div class="col-md-4 col-lg-4"><img src="resources/pub/images/html_themes/rust_theme.jpg" width="900px" height="437px" alt="rust_theme" class="img-thumbnail"/></div>
  <div class="col-md-4 col-lg-4"><img src="resources/pub/images/html_themes/red_theme.jpg" width="900px" height="444px" alt="red_theme" class="img-thumbnail"/></div>
</div>