
<div class="row">
  <div class="col-md-7 col-lg-7">
    <h2 class="text-centered">{{ title }}: Screencast Demonstration</h2>
    <div class="col-md-offset-2 col-lg-offset-2 embed-responsive embed-responsive-16by9">
      <object type="application/x-shockwave-flash" data="http://content.screencast.com/users/halton88/folders/Default/media/aea78b7e-7bff-4d26-97a9-a0e8cbd302c3/bootstrap.swf?wmode=transparent" height="70%" class="embed-responsive-item"></object>
      <param name="wmode" value="transparent"></param>
      <param name="movie" value="http://content.screencast.com/users/halton88/folders/Default/media/aea78b7e-7bff-4d26-97a9-a0e8cbd302c3/bootstrap.swf"></param>
      <param name="quality" value="high"></param>
      <param name="bgcolor" value="#FFFFFF"></param>
      <param name="flashVars" value="thumb=http://content.screencast.com/users/halton88/folders/Default/media/aea78b7e-7bff-4d26-97a9-a0e8cbd302c3/FirstFrame.jpg&amp;containerwidth=1366&amp;containerheight=768&amp;content=http://content.screencast.com/users/halton88/folders/Default/media/aea78b7e-7bff-4d26-97a9-a0e8cbd302c3/updated_senior_project_demo.swf&amp;blurover=false"></param>
      <param name="allowFullScreen" value="true"></param>
      <param name="scale" value="showall"></param>
      <param name="allowScriptAccess" value="always"></param>
      <param name="base" value="http://content.screencast.com/users/halton88/folders/Default/media/aea78b7e-7bff-4d26-97a9-a0e8cbd302c3/"></param>Unable to display content. Adobe Flash is required.
    </div>
    <div class="well">
      <h3>Web Technologies used:</h3>
      <ul>
        <li>HTML - Web pages, templates, forms</li>
        <li>CSS3 - border modifications, text modifications</li>
        <li>PHP - Password encryption, SQL queries and data validation</li>
        <li>MySQL - database management</li>
        <li>JQuery - content display</li>
        <li>Javascript - data validation</li>
      </ul>
    </div>
  </div>
</div>