.col-md-12.col-lg-12
  p Do you have inquiries, website feedback, comments or suggestions? Contact Me
  p For inquiries about building a web site for yourself or a small business local business. Also, for comments or any other feedback about the site.
  b important: For inquiries you must provide 4 pieces of information in your message
  ul
    li The purpose/reason for the site
    li Timeline for when you need the website built
    li Your budget for the site
    li all other relevant and important information needed to understand your vision for the website
  p When all this information is submitted I can respond promptly to your inquiry, without this information you may not recieve a response.
  p
    b.small *Note: I do not currently take on any projects involving E-Commerce(Web Stores) websites.
  p I am always looking to improve my site and my web development skill set. If you have any suggestions, 
  | comments, issues or concerns with this website feel free to leave a message. Your messages will be greatly appreciated.
  form.col-md-5.col-lg-5.col-md-offset-2.col-lg-offset-2#contactForm(enctype='multipart/form-data', method='post')
    fieldset
      #error-div
      .form-group
        input.input-sm.form-control#name(placeholder='Name:',type='text', name='name', minlength='2', maxlength='50', size='60', required)
        input.input-sm.form-control#email(placeholder='Email:', type='text', name='email', size='60', required)
      .form-group
        label.required(for='message_type') Message Type:
        select.form-control#message_type(name='message_type')
          option(value='')
          option(value='Website Inquiry') Website Inquiry
          option(value='Message, Comment, Suggestion') Message, Comment and/or Suggestion
      .form-group
        textarea.form-control#message(name='message', rows='10', cols='60', placeholder='Type your message here', required)
      .btn-group
        input.input-sm.btn.btn-default#reset(type='reset', value='Clear Form')
        input.input-sm.btn.btn-primary#submit(type='submit', value='Submit Inquiry/Message')
      input#honeypot(type='hidden', name='honeypot', value='http://')
      input#humancheck.clear(type='hidden', name='humancheck', value='')