section.active.fade.in#home(role="tabpanel")
	h3 Welcome Vistors,
	p
		| I would like to welcome you to my E-Portfolio web site. On this site you will find
		| background information about myself, work history, educational background and
		| samples of some of my best work over the years. This site was aimed to be a
		| supplement to my resume given to potential employers.

	p
		| My name is Tony Hall and I am a professional developer. I graduated from Pennsylvania College of Technology in
		| 2011, obtaining a Bachelor of Science Degree in Web &amp; Applications Development along with minors in Business
		| Administration and Sociology.

	p
		| Deciding to pursue minors in Business Administration and Sociology was just as important to me as my major. By
		| obtaining a minor in Business Administration I will be familiar with the operations of business and could contribute
		| to future advancement in any business I will work for in the future. My minor in Sociology is personally my most
		| important field of study because of its real world application. It has always been a personal responsibility of mine
		| to be aware of events in society and it is something that will always peak my interest.
	p
		| My professional career started with Social and Scientific Systems Inc in 2012 as a Programmer. My work involved
		| developing application which were used for data collection and reporting for the then National Children's Study.
		| During my time there I was exposed to a great deal of professional experiences and learned a great deal from the
		| team of developers, project managers and business professionals I worked alongside during my time there.
	p
		| In the Spring of 2015, I made the next step in my career by joining ATTAIN LLC as a Senior Consultant within the
		| National Cancer Institute (NCI). At NCI, I work with other developers, researchers and scientists to develop
		| various small scale web applications which aid the cancer researchers with their studies. At this point I
		| have been exposed to a great deal of new web and statistical technologies, while also being able to use certain
		| technologies I became familiar with from my previous position.
	p
		| I was born in Washington D.C. and raised in Silver Spring, MD. As the son of two Jamaican immigrants, I have
		| inherited a great work ethic and passion for anything that I pursue.
	p
		| I have always had an interest in computers and gained an interest specifically in the web development field early in
		| high school. The constantly changing technology in this field will insure that there will always be something new to
		| learn.
	p
		| I am determined to pursue and have a successful career in supporting great causes that have a positive effect in
		| peoples lives while utilizing and constantly expanding my web development skill set. Be sure to check out some of my code samples and check back often as I continue to update my portfolio. You can connect with me on LinkedIn or reach out to me via E-Mail.

		.pull-right
			Thank You,
			img#signature.img-responsive(src="images/sgn1.png")

