section.fade#skills(role="tabpanel")
	.well
		ul
			li Using HTML5 and CSS3 to build responsive user interfaces
			li Javascript: JQuery, Node, utilizing node packagages including Gulp and Grunt
			li Extracting data from various data sources through Python and PHP web services
			li Re-designing existing applications with the latest web frameworks and libraries
		ul
			li Participated in CMMI level 2 training and audit process
			li Worked in both Scrum and Agile methodology environments
			li Experience working alongside and communicating with technical and non-techical individuals
			li Application design wireframes and prototyping
			li Analyzing application requirements to determine the best tools to build the application with
	p
		| I am currently working on learning Python, Backbone.js, R, Slush, Yaoman, Flask, Test Driven Development and
		| Automated Testing.
	p
		| Building Python scripts that are used as web services to communicate between the front end and 'R' scripts. I've also
		| used python to assist with reading and retrieving data from the file system and modifying images. More recently I've | been experimenting with how to use Slush to build base projects.
	p
		| I am constantly trying to learn how to code smarter and more efficently. Which to me means utilizing technology to do | repetative tasks so that I can focus on other aspects of development. I find tools like Jade, Stylus and Gulp to be
		| very useful in that aspect and I will continue to use them and other technologies along the way to becoming the best | developer that I can be.
