h2 {{ title }}
//- h2 HTML Templates (with CSS3)
.row
	.col-md-4.col-lg-4
		img.img-thumbnail(src='resources/pub/images/html_themes/teal_theme.jpg', width='900px', height='436px', alt='teal_theme')
	.col-md-4.col-lg-4
		img.img-thumbnail(src='resources/pub/images/html_themes/rust_theme.jpg', width='900px', height='437px', alt='rust_theme')
	.col-md-4.col-lg-4
		img.img-thumbnail(src='resources/pub/images/html_themes/red_theme.jpg', width='900px', height='444px', alt='red_theme')
