//- block scripts
	script(src='resources/pub/js/app/pages/video-edit.js')
.row
	.col-md-12.col-lg-12
		h2.text-centered {{ title}}
		.embed-responsive.embed-responsive-16by9
			iframe.embed-responsive-item(src="http://www.youtube.com/embed/PzFxwm7I1FA?wmode=transparent", frameborder="0", allowfullscreen)